Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2022-12, with the labels that each got.

#330 #244 Test editRisk endpoint successes
  src/backend/tests/risks.test.ts
  src/backend/tests/test-data/risks.test-data.ts
Labels: back-end, testing

#479 #190 Unchecking Confirm
  src/frontend/src/components/CheckList.tsx
Labels: front-end

#483 #187 - Added WPP Tooltip
  src/frontend/src/components/CheckList.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageViewContainer.tsx
Labels: front-end

#506 #489 - Refactor work package backend
  src/backend/src/controllers/work-packages.controllers.ts
  src/backend/src/prisma-query-args/work-packages.query-args.ts
  src/backend/src/routes/work-packages.routes.ts
  src/backend/src/services/work-packages.services.ts
  src/backend/src/transformers/work-packages.transformer.ts
  src/backend/src/utils/work-packages.utils.ts
  src/backend/tests/test-data/work-packages.test-data.ts
  src/backend/tests/work-packages.test.ts
Labels: back-end
