Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2022-10, with the labels that each got.

#210 #80 - Proposed Solutions
  src/backend/src/controllers/change-requests.controllers.ts
  src/backend/src/prisma/seed-data/proposed-solutions.seed.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/change-requests.routes.ts
  src/frontend/src/apis/ChangeRequests.api.ts
  src/frontend/src/hooks/ChangeRequests.hooks.ts
  src/frontend/src/layouts/PageBlock.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ChangeRequestDetailsView.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionForm.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionSelectItem.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionView.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionsList.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ReviewChangeRequest.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ReviewChangeRequestView.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/StandardDetails.tsx
  src/frontend/src/pages/CreateChangeRequestPage/CreateChangeRequest.tsx
  src/frontend/src/pages/CreateChangeRequestPage/CreateChangeRequestView.tsx
  src/frontend/src/pages/CreateChangeRequestPage/CreateProposedSolutionsList.tsx
  src/frontend/src/stylesheets/pages/ChangeRequestDetailPage/ProposedSolutionView.module.css
  src/frontend/src/stylesheets/pages/ChangeRequestDetailPage/ProposedSolutionsList.module.css
  src/frontend/src/tests/pages/ChangeRequestDetailPage/ChangeRequestDetails.test.tsx
  src/frontend/src/tests/pages/ChangeRequestDetailPage/ChangeRequestDetailsView.test.tsx
  src/frontend/src/tests/pages/ChangeRequestDetailPage/ProposedSolutionForm.test.tsx
  src/frontend/src/tests/pages/ChangeRequestDetailPage/ProposedSolutionView.test.tsx
  src/frontend/src/tests/pages/ChangeRequestDetailPage/ProposedSolutionsList.test.tsx
  src/frontend/src/tests/pages/ChangeRequestDetailPage/ReviewChangeRequest.test.tsx
  src/frontend/src/tests/pages/ChangeRequestDetailPage/ReviewChangeRequestView.test.tsx
  src/frontend/src/tests/pages/ChangeRequestDetailPage/StandardDetails.test.tsx
  src/frontend/src/tests/pages/CreateChangeRequestPage/CreateChangeRequest.test.tsx
  src/frontend/src/tests/pages/CreateChangeRequestPage/CreateChangeRequestView.test.tsx
  src/frontend/src/tests/pages/CreateChangeRequestPage/CreateProposedSolutionsList.test.tsx
  src/frontend/src/utils/Urls.ts
Labels: new feature, epic

#305 #186 - WPP CheckList
  src/frontend/src/components/CheckList.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/RiskLog.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageViewContainer.tsx
  src/frontend/src/stylesheets/components/CheckList.module.css
  src/frontend/src/tests/components/CheckList.test.tsx
Labels: front-end, new feature

#381 #276 - Converted Project Actions Button from Boostrap to MUI
  src/frontend/src/layouts/PageTitle/PageTitle.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectViewContainer.tsx
Labels: front-end
