Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2023-01, with the labels that each got.

#523 #469 - more visual cleanup
  src/frontend/src/layouts/PageBlock.tsx
  src/frontend/src/layouts/Sidebar/Sidebar.tsx
  src/frontend/src/pages/CreateChangeRequestPage/CreateChangeRequestView.tsx
  src/frontend/src/pages/CreateProjectPage/CreateProjectFormView.tsx
  src/frontend/src/pages/HomePage/UpcomingDeadlines.tsx
  src/frontend/src/pages/HomePage/WorkPackagesByTimelineStatus.tsx
  src/frontend/src/pages/TeamsPage/TeamSummary.tsx
  src/frontend/src/stylesheets/layouts/sidebar/sidebar.module.css
  src/frontend/src/tests/pages/HomePage/UpcomingDeadlines.test.tsx
Labels: front-end

#540 #497 Bug Template Versions Update
  .github/ISSUE_TEMPLATE/bug-form.yml
Labels: dev-ops

#515 462 typography consistency box/grid
  src/frontend/src/components/DetailDisplay.tsx
  src/frontend/src/components/ExternalLink.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ActivationDetails.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionSelectItem.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionView.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/StageGateDetails.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/StandardDetails.tsx
  src/frontend/src/pages/HomePage/UpcomingDeadlines.tsx
  src/frontend/src/pages/HomePage/UsefulLinks.tsx
  src/frontend/src/pages/HomePage/WorkPackagesByTimelineStatus.tsx
  src/frontend/src/pages/InfoPage.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectDetails.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/WorkPackageSummary.tsx
  src/frontend/src/pages/SettingsPage/Settings.tsx
  src/frontend/src/pages/SettingsPage/UserSettings/UserSettingsEdit.tsx
  src/frontend/src/pages/SettingsPage/UserSettings/UserSettingsView.tsx
  src/frontend/src/pages/TeamsPage/TeamSpecificPage.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageDetails.tsx
Labels: technical improvement, front-end

#537 #534 display error message
  src/frontend/src/pages/CreateChangeRequestPage/CreateChangeRequestView.tsx
Labels: bug, front-end

#511 #486 users backend refactoring
  src/backend/src/controllers/users.controllers.ts
  src/backend/src/prisma-query-args/auth-user.query-args.ts
  src/backend/src/routes/users.routes.ts
  src/backend/src/services/users.services.ts
  src/backend/src/transformers/auth-user.transformer.ts
  src/backend/src/transformers/change-requests.transformer.ts
  src/backend/src/transformers/proposed-solutions.transformer.ts
  src/backend/src/transformers/risks.transformer.ts
  src/backend/src/transformers/teams.transformer.ts
  src/backend/src/transformers/user.transformer.ts
  src/backend/src/transformers/work-packages.transformer.ts
  src/backend/src/utils/errors.utils.ts
  src/backend/src/utils/projects.utils.ts
  src/backend/src/utils/users.utils.ts
  src/backend/tests/users.test.ts
Labels: back-end, technical improvement

#519 #495-added a credits page
  src/frontend/src/app/AppAuthenticated.tsx
  src/frontend/src/pages/CreditsPage/Credits.tsx
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
  src/frontend/src/utils/routes.ts
Labels: front-end, new feature

#547 #546 Check for deleted description bullets
  src/backend/src/services/change-request.services.ts
Labels: bug

#539 #535 Add Wbs Name to CRTable
  src/backend/src/transformers/change-requests.transformer.ts
  src/backend/tests/test-data/change-requests.test-data.ts
  src/frontend/src/pages/ChangeRequestsPage/ChangeRequestsTable.tsx
  src/frontend/src/tests/test-support/test-data/change-requests.stub.ts
  src/shared/src/types/change-request-types.ts
Labels: feature enhancement, back-end, front-end

#608 #597 - Add Jonathan Chen to credits page
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#595 #562 ray kong credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#598 #568: Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#518 #360 Active Projects Cards for Teams Page
  src/backend/src/prisma-query-args/teams.query-args.ts
  src/backend/src/transformers/risks.transformer.ts
  src/backend/src/transformers/teams.transformer.ts
  src/backend/tests/test-data/risks.test-data.ts
  src/backend/tests/test-data/teams.test-data.ts
  src/frontend/src/apis/projects.api.ts
  src/frontend/src/pages/TeamsPage/ProjectCardsView.tsx
  src/frontend/src/pages/TeamsPage/TeamSpecificPage.tsx
  src/shared/src/types/project-types.ts
Labels: front-end, new feature

#458 #284 Gantt Chart Overhaul MVP
  package.json
  src/backend/src/prisma-query-args/teams.query-args.ts
  src/backend/src/transformers/risks.transformer.ts
  src/backend/src/transformers/teams.transformer.ts
  src/backend/tests/test-data/risks.test-data.ts
  src/backend/tests/test-data/teams.test-data.ts
  src/frontend/package.json
  src/frontend/src/apis/projects.api.ts
  src/frontend/src/app/AppAuthenticated.tsx
  src/frontend/src/layouts/Sidebar/Sidebar.tsx
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/LICENSE
  src/frontend/src/pages/GanttPage/GanttPackage/README.md
  src/frontend/src/pages/GanttPage/GanttPackage/components/calendar/calendar.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/calendar/calendar.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/calendar/top-part-of-calendar.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/gantt/gantt.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/gantt/gantt.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/gantt/task-gantt-content.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/gantt/task-gantt.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/grid/grid-body.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/grid/grid.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/grid/grid.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/Tooltip.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/arrow.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/horizontal-scroll.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/horizontal-scroll.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/vertical-scroll.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/vertical-scroll.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar-date-handle.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar-display.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar-progress-handle.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar-small.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/milestone/milestone.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/milestone/milestone.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/project/project.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/project/project.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/task-item.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/task-list.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-list/TaskListHeader.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-list/TaskListTable.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-list/task-list.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/helpers/bar-helper.ts
  src/frontend/src/pages/GanttPage/GanttPackage/helpers/date-helper.ts
  src/frontend/src/pages/GanttPage/GanttPackage/helpers/other-helper.ts
  src/frontend/src/pages/GanttPage/GanttPackage/types/bar-task.ts
  src/frontend/src/pages/GanttPage/GanttPackage/types/date-setup.ts
  src/frontend/src/pages/GanttPage/GanttPackage/types/gantt-task-actions.ts
  src/frontend/src/pages/GanttPage/GanttPackage/types/public-types.ts
  src/frontend/src/pages/GanttPage/GanttPage.tsx
  src/frontend/src/pages/GanttPage/GanttPageWrapper.tsx
  src/frontend/src/pages/TeamsPage/ProjectCardsView.tsx
  src/frontend/src/pages/TeamsPage/TeamSpecificPage.tsx
  src/frontend/src/stylesheets/pages/gantt-page.module.css
  src/frontend/src/utils/routes.ts
  src/shared/src/types/project-types.ts
  yarn.lock
Labels: feature enhancement, front-end

#628 #545: Hide Google login button in dev
  src/frontend/src/pages/LoginPage/LoginPage.tsx
Labels: technical improvement, front-end

#615 #50 - Fix test warnings
  src/frontend/package.json
  src/frontend/src/components/EditableTextInputList.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionForm.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionView.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ReviewChangeRequestView.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/StandardDetails.tsx
  src/frontend/src/pages/HomePage/UsefulLinks.tsx
  src/frontend/src/pages/InfoPage.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/RiskLog.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/WorkPackageSummary.tsx
  src/frontend/src/pages/SettingsPage/UserSettings/UserSettingsEdit.tsx
  src/frontend/src/pages/TeamsPage/TeamSummary.tsx
  src/frontend/src/pages/TeamsPage/TeamsPage.tsx
  src/frontend/src/pages/WorkPackageDetailPage/ActivateWorkPackageModalContainer/ActivateWorkPackageModal.tsx
  src/frontend/src/pages/WorkPackageDetailPage/ActivateWorkPackageModalContainer/ActivateWorkPackageModalContainer.tsx
  src/frontend/src/pages/WorkPackageDetailPage/StageGateWorkPackageModalContainer/StageGateWorkPackageModal.tsx
  src/frontend/src/setupTests.ts
  src/frontend/src/tests/app/AppAuthenticated.test.tsx
  src/frontend/src/tests/components/EditableTextInputList.test.tsx
  src/frontend/src/tests/layouts/NavTopBar/NavUserMenu.test.tsx
  src/frontend/src/tests/pages/ChangeRequestDetailPage/ChangeRequestDetails.test.tsx
  src/frontend/src/tests/pages/CreateProjectPage/CreateProjectForm.test.tsx
  src/frontend/src/tests/pages/CreateProjectPage/CreateProjectFormView.test.tsx
  src/frontend/src/tests/pages/CreateWorkPackagePage/CreateWorkPackageForm.test.tsx
  src/frontend/src/tests/pages/CreateWorkPackagePage/CreateWorkPackageFormView.test.tsx
  src/frontend/src/tests/pages/ProjectDetailPage/ProjectViewContainer.test.tsx
  src/frontend/src/tests/pages/TeamsPage/TeamSummary.test.tsx
  src/frontend/src/tests/test-support/mock-hooks.ts
  src/frontend/src/tests/test-support/test-data/teams.stub.ts
  src/frontend/src/tests/test-support/test-data/users.stub.ts
  yarn.lock
Labels: technical improvement, front-end

#548 #101 - Error Toast/Error Banner Example
  src/frontend/src/app/AppMain.tsx
  src/frontend/src/components/Toast/LICENSE
  src/frontend/src/components/Toast/Toast.tsx
  src/frontend/src/components/Toast/ToastProvider.tsx
  src/frontend/src/hooks/toasts.hooks.ts
  src/frontend/src/pages/ChangeRequestDetailPage/ReviewChangeRequestView.tsx
  src/frontend/src/tests/pages/ChangeRequestDetailPage/ReviewChangeRequestView.test.tsx
Labels: front-end, new feature

#617 #616 Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#632 #630: added my name to the credit page
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#594 #577: added my name to the credits page
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#591 #572 added name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#554 #553: Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#647 #646 Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#614 #574 added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#606 #578 Added my name ot credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#605 #563- Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#645 #644: Prod Bugs
  src/backend/src/controllers/projects.controllers.ts
  src/backend/src/routes/projects.routes.ts
  src/backend/src/routes/users.routes.ts
  src/backend/src/services/work-packages.services.ts
  src/backend/src/utils/projects.utils.ts
  src/backend/tests/projects.test.ts
  src/frontend/src/pages/CreateWorkPackagePage/CreateWorkPackageForm.tsx
Labels: bug

#634 #629 - User Seed Data
  src/backend/src/prisma/seed-data/users.seed.ts
  src/backend/src/prisma/seed.ts
Labels: back-end

#657 #656 - Changed My Name Color
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#663 #631: added my name to the credits page
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#658 #655 Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#620 #530 - Gantt Filters
  src/frontend/src/pages/GanttPage/GanttPage.tsx
  src/frontend/src/pages/GanttPage/GanttPageFilter.tsx
  src/frontend/src/pages/GanttPage/GanttPageWrapper.tsx
  src/frontend/src/utils/gantt.utils.ts
  src/frontend/src/utils/themes.ts
Labels: front-end, new feature

#664 #654 Fix Cancel Button bug
  src/frontend/src/pages/TeamsPage/TeamMembersPageBlock.tsx
Labels: bug, front-end

#609 #581 Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#621 #363 Edit Description Page Block
  src/backend/src/controllers/teams.controllers.ts
  src/backend/src/routes/teams.routes.ts
  src/backend/src/services/teams.services.ts
  src/frontend/src/apis/teams.api.ts
  src/frontend/src/hooks/teams.hooks.ts
  src/frontend/src/pages/TeamsPage/DescriptionPageBlock.tsx
  src/frontend/src/pages/TeamsPage/TeamSpecificPage.tsx
  src/frontend/src/utils/urls.ts
  src/shared/index.ts
  src/shared/src/word-count.ts
Labels: front-end, new feature

#659 #488: Project Refactoring
  src/backend/src/controllers/projects.controllers.ts
  src/backend/src/integrations/slack.ts
  src/backend/src/prisma-query-args/projects.query-args.ts
  src/backend/src/routes/projects.routes.ts
  src/backend/src/services/projects.services.ts
  src/backend/src/transformers/projects.transformer.ts
  src/backend/src/utils/projects.utils.ts
  src/backend/tests/change-requests.test.ts
  src/backend/tests/projects.test.ts
  src/backend/tests/risks.test.ts
  src/backend/tests/test-data/projects.test-data.ts
  src/backend/tests/test-data/wbs-element.test-data.ts
  src/backend/tests/work-packages.test.ts
  src/frontend/src/pages/CreateProjectPage/CreateProjectForm.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectEdit/ProjectEditContainer.tsx
  src/frontend/src/utils/urls.ts
Labels: back-end, technical improvement

#698 #694 Standard Cancel Button Comp
  src/frontend/src/components/NERFailButton.tsx
  src/frontend/src/components/NERSuccessButton.tsx
  src/frontend/src/pages/TeamsPage/TeamMembersPageBlock.tsx
Labels: front-end

#596 #564 Added my name to creds
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#464 #335-disabled-checkboxes-while-loading
  src/frontend/src/components/CheckList.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/RiskLog.tsx
Labels: feature enhancement, front-end

#724 #482 Move auth utils to separate file
  src/backend/index.ts
  src/backend/src/controllers/change-requests.controllers.ts
  src/backend/src/controllers/description-bullets.controllers.ts
  src/backend/src/controllers/projects.controllers.ts
  src/backend/src/controllers/risks.controllers.ts
  src/backend/src/controllers/teams.controllers.ts
  src/backend/src/controllers/users.controllers.ts
  src/backend/src/controllers/work-packages.controllers.ts
  src/backend/src/services/users.services.ts
  src/backend/src/utils/auth.utils.ts
  src/backend/src/utils/utils.ts
Labels: back-end, technical improvement

#731 #713: Change EditProjectPage to use NER Buttons
  src/frontend/src/pages/ProjectDetailPage/ProjectEdit/ProjectEditContainer.tsx
Labels: feature enhancement, front-end, straightforward

#749 #748: Added my name to the credits page
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#733 #549 Fixed color of change requests button on default and on hover
  src/frontend/src/components/NERButton.tsx
  src/frontend/src/pages/ChangeRequestsPage/ChangeRequestsTable.tsx
  src/frontend/src/utils/themes.ts
Labels: bug, front-end

#728 #701: Removed any type from users.services.
  src/backend/src/services/users.services.ts
Labels: technical improvement

#774 #772 Added my name to credits page
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#541 #372-add-teams-to-project-creation-page
  src/frontend/src/pages/CreateProjectPage/CreateProjectForm.tsx
  src/frontend/src/pages/CreateProjectPage/CreateProjectFormView.tsx
  src/frontend/src/tests/pages/CreateProjectPage/CreateProjectForm.test.tsx
  src/frontend/src/tests/pages/CreateProjectPage/CreateProjectFormView.test.tsx
Labels: front-end, difficult, new feature

#627 #626 Display Version Number Dynamically
  src/frontend/src/hooks/misc.hooks.ts
  src/frontend/src/layouts/Sidebar/Sidebar.tsx
  src/frontend/src/tests/app/AppAuthenticated.test.tsx
  src/frontend/src/tests/layouts/Sidebar/Sidebar.test.tsx
  src/frontend/src/tests/test-support/mock-hooks.ts
  src/frontend/src/utils/types.ts
Labels: dev-ops

#682 Gantt Chart Feature
  package.json
  src/frontend/package.json
  src/frontend/src/app/AppAuthenticated.tsx
  src/frontend/src/layouts/Sidebar/Sidebar.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/LICENSE
  src/frontend/src/pages/GanttPage/GanttPackage/README.md
  src/frontend/src/pages/GanttPage/GanttPackage/components/calendar/calendar.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/calendar/calendar.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/calendar/top-part-of-calendar.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/gantt/gantt.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/gantt/gantt.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/gantt/task-gantt-content.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/gantt/task-gantt.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/grid/grid-body.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/grid/grid.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/grid/grid.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/Tooltip.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/arrow.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/horizontal-scroll.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/horizontal-scroll.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/vertical-scroll.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/vertical-scroll.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar-date-handle.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar-display.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar-progress-handle.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar-small.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/bar/bar.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/milestone/milestone.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/milestone/milestone.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/project/project.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/project/project.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/task-item.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-item/task-list.module.css
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-list/TaskListHeader.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-list/TaskListTable.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-list/task-list.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/helpers/bar-helper.ts
  src/frontend/src/pages/GanttPage/GanttPackage/helpers/date-helper.ts
  src/frontend/src/pages/GanttPage/GanttPackage/helpers/other-helper.ts
  src/frontend/src/pages/GanttPage/GanttPackage/types/bar-task.ts
  src/frontend/src/pages/GanttPage/GanttPackage/types/date-setup.ts
  src/frontend/src/pages/GanttPage/GanttPackage/types/gantt-task-actions.ts
  src/frontend/src/pages/GanttPage/GanttPackage/types/public-types.ts
  src/frontend/src/pages/GanttPage/GanttPage.tsx
  src/frontend/src/pages/GanttPage/GanttPageFilter.tsx
  src/frontend/src/pages/GanttPage/GanttPageWrapper.tsx
  src/frontend/src/stylesheets/pages/gantt-page.module.css
  src/frontend/src/utils/gantt.utils.ts
  src/frontend/src/utils/routes.ts
  yarn.lock
Labels: front-end, new feature
