Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2023-02, with the labels that each got.

#757 #403/#720 Updated stage gate buttons and fixed crashing
  src/frontend/src/pages/TeamsPage/DescriptionPageBlock.tsx
  src/frontend/src/pages/WorkPackageDetailPage/StageGateWorkPackageModalContainer/StageGateWorkPackageModal.tsx
  src/shared/package.json
Labels: feature enhancement, front-end

#732 #653 Row Count Persistent
  src/frontend/src/pages/ProjectsPage/ProjectsTable.tsx
Labels: feature enhancement, front-end

#730 #667 Removed any type from AppPublic
  src/frontend/src/app/AppPublic.tsx
Labels: technical improvement

#775 #637-Changed Alert to Toast
  src/frontend/src/pages/CreateWorkPackagePage/CreateWorkPackageForm.tsx
  src/frontend/src/tests/pages/CreateWorkPackagePage/CreateWorkPackageForm.test.tsx
Labels: feature enhancement, front-end

#651 #223 - Use URL Query Strings for Login Redirect
  src/frontend/src/app/AppPublic.tsx
  src/frontend/src/pages/LoginPage/Login.tsx
Labels: technical improvement, front-end

#764 #740: Review CR Modal Responsive Layout
  src/frontend/src/pages/ChangeRequestDetailPage/ReviewChangeRequestView.tsx
Labels: technical improvement, front-end

#767 #666 Removed the any type from ProjectsTable.tsx
  src/frontend/src/pages/ProjectsPage/ProjectsTable.tsx
Labels: technical improvement

#769 #741: Removed budgetimpact from Create CR endpoint
  src/backend/src/controllers/change-requests.controllers.ts
  src/backend/src/services/change-request.services.ts
Labels: back-end, technical improvement, straightforward

#734 switched to MUI icons && aligned them
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectDetails.tsx
Labels: technical improvement, front-end

#768 #747 Removed userID from payload in handleCreate function
  src/backend/src/routes/risks.routes.ts
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/RiskLog.tsx
Labels: technical improvement, front-end

#758 #678: Remove any type from WBSDetails
  src/frontend/src/pages/WBSDetails.tsx
Labels: technical improvement, medium, front-end

#786 #652 Frontend - Make Row Count Persistent on CR Table
  src/frontend/src/pages/ChangeRequestsPage/ChangeRequestsTable.tsx
Labels: feature enhancement, front-end

#811 #639 Replaced alert() with useToast() in RiskLog
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/RiskLog.tsx
Labels: feature enhancement, front-end

#735 #718 change create change request buttons
  src/frontend/src/pages/CreateChangeRequestPage/CreateChangeRequestView.tsx
Labels: feature enhancement, front-end

#805 #744 Rename to projectLeadId and projectManagerId
  src/backend/src/controllers/projects.controllers.ts
  src/backend/src/routes/projects.routes.ts
  src/backend/src/services/projects.services.ts
  src/frontend/src/pages/ProjectDetailPage/ProjectEdit/ProjectEditContainer.tsx
Labels: back-end, technical improvement

#765 #759 Added Prisma Model and Migration
  src/backend/src/prisma/migrations/20230131182144_add_task/migration.sql
  src/backend/src/prisma/schema.prisma
  src/shared/index.ts
  src/shared/src/types/task-types.ts
Labels: back-end

#821 #742:changed the return type
  src/backend/src/services/change-requests.services.ts
Labels: back-end, technical improvement

#820 #751 make close icon
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionForm.tsx
Labels: feature enhancement, front-end

#785 #623 Refactored the wording of timeline impact placeholder
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionForm.tsx
Labels: feature enhancement, front-end

#818 #717 Changed the request view buttons to use NER buttons
  src/frontend/src/pages/ChangeRequestDetailPage/ReviewChangeRequestView.tsx
Labels: feature enhancement, front-end, straightforward

#819 #662: finished ticket, users now properly sorted
  src/backend/src/services/users.services.ts
  src/backend/src/utils/users.utils.ts
  src/frontend/src/pages/LoginPage/LoginDev.tsx
  src/shared/index.ts
  src/shared/src/rank-user-role.ts
Labels: technical improvement, front-end

#802 #714 Updated cancel and submit buttons on the edit work package page
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditContainer.tsx
Labels: feature enhancement, front-end

#832 #779 - Have Gantt Task Names Cut Off With Ellipses
  src/frontend/src/pages/GanttPage/GanttPackage/components/task-list/TaskListTable.tsx
  src/frontend/src/stylesheets/pages/gantt-page.module.css
Labels: bug, front-end

#828 Added useToast()
  src/frontend/src/pages/AdminToolsPage/AdminToolsUserManagement.tsx
Labels: feature enhancement, front-end

#808 #715: Changed Buttons to NER Buttons in CreateWorkPackagePage
  src/frontend/src/pages/CreateWorkPackagePage/CreateWorkPackageFormView.tsx
Labels: feature enhancement, front-end

#836 #776 Made the progress % round to 2 decimal places when displayed
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/Tooltip.tsx
Labels: bug, front-end

#782 #719: RogerHuang-ActivateWorkPackageModal changed to use NER buttons
  src/frontend/src/pages/WorkPackageDetailPage/ActivateWorkPackageModalContainer/ActivateWorkPackageModal.tsx
Labels: front-end, straightforward

#853 #245: Tests for AddProposedSolution
  src/backend/tests/change-requests.test.ts
Labels: back-end, medium, testing

#736 '#669-MokkhMitsuntisuk-RemoveAny'
  src/frontend/src/components/NERAutocomplete.tsx
  src/frontend/src/pages/AdminToolsPage/AdminToolsUserManagement.tsx
  src/frontend/src/pages/CreateChangeRequestPage/CreateChangeRequestView.tsx
Labels: technical improvement

#844 #241: Test editRisk Endpoint Failures
  src/backend/tests/risks.test.ts
Labels: back-end, testing

#859 #839 - update schema, types, and seed data
  src/backend/src/prisma/migrations/20230214001747_add_wp_stage_and_tasks/migration.sql
  src/backend/src/prisma/schema.prisma
  src/backend/src/prisma/seed-data/work-packages.seed.ts
  src/backend/src/transformers/projects.transformer.ts
  src/backend/src/transformers/work-packages.transformer.ts
  src/backend/tests/test-data/projects.test-data.ts
  src/backend/tests/test-data/work-packages.test-data.ts
  src/shared/src/types/project-types.ts
  src/shared/src/types/work-package-types.ts
Labels: back-end

#721 #587 ethan szeto credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#829 #789 Fire Create Task Endpoint
  src/backend/index.ts
  src/backend/src/controllers/tasks.controllers.ts
  src/backend/src/prisma-query-args/tasks.query-args.ts
  src/backend/src/routes/tasks.routes.ts
  src/backend/src/services/tasks.services.ts
  src/backend/src/transformers/tasks.transformer.ts
  src/backend/src/utils/errors.utils.ts
  src/backend/src/utils/tasks.utils.ts
  src/backend/src/utils/validation.utils.ts
  src/backend/tests/tasks.test.ts
  src/backend/tests/test-data/tasks.test-data.ts
  src/shared/src/types/task-types.ts
Labels: back-end, new feature

#861 #810 Added MUI icons to action menu in Work Package Page
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageViewContainer.tsx
Labels: feature enhancement, front-end

#870 #866: Added my name to the credits page
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#830 #760 - Add Tasklist Pageblock Skeleton
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskListTabPanel.tsx
  src/frontend/src/tests/pages/ProjectDetailPage/TaskList.test.tsx
Labels: front-end, new feature

#860 #718: added teams page to the breadcrumbs
  src/frontend/src/pages/TeamsPage/TeamSpecificPage.tsx
Labels: feature enhancement, front-end

#862 #788 Get tasks endpoint for projects
  src/backend/src/prisma-query-args/projects.query-args.ts
  src/backend/src/prisma-query-args/work-packages.query-args.ts
  src/backend/src/transformers/projects.transformer.ts
  src/backend/tests/test-data/projects.test-data.ts
  src/frontend/src/tests/test-support/test-data/projects.stub.ts
  src/shared/src/types/project-types.ts
Labels: back-end, new feature

#858 #817 dynamically change the dropdown width based on the contents
  src/frontend/src/pages/GanttPage/GanttPageFilter.tsx
Labels: feature enhancement, front-end

#798 #672 removed any
  src/frontend/src/pages/ChangeRequestsPage/ChangeRequestsTable.tsx
  src/frontend/src/pages/ProjectsPage/ProjectsTable.tsx
  src/frontend/src/utils/tables.ts
Labels: technical improvement, front-end

#840 #702 removed any from work-packages-services
  src/backend/src/services/work-packages.services.ts
Labels: technical improvement

#611 #333 - Fade unapproved change requests
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionView.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionsList.tsx
Labels: feature enhancement, front-end

#864 #752: changed save/cancel buttons in RiskLog
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/RiskLog.tsx
Labels: front-end

#885 #881: Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#879 #164: Seed Data Refactoring
  src/backend/src/prisma/seed-data/change-requests.seed.ts
  src/backend/src/prisma/seed-data/projects.seed.ts
  src/backend/src/prisma/seed-data/proposed-solutions.seed.ts
  src/backend/src/prisma/seed-data/risks.seed.ts
  src/backend/src/prisma/seed-data/session.seed.ts
  src/backend/src/prisma/seed-data/teams.seed.ts
  src/backend/src/prisma/seed-data/users.seed.ts
  src/backend/src/prisma/seed-data/work-packages.seed.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/services/change-requests.services.ts
Labels: back-end, technical improvement, difficult

#877 #838-RogerHuang-Add Car0 on Gantt Page
  src/frontend/src/pages/GanttPage/GanttPageFilter.tsx
  src/frontend/src/pages/GanttPage/GanttPageWrapper.tsx
  src/frontend/src/pages/WorkPackageDetailPage/ActivateWorkPackageModalContainer/ActivateWorkPackageModal.tsx
  src/frontend/src/utils/gantt.utils.ts
Labels: feature enhancement, front-end

#892 250-added all the test
  src/backend/tests/test-data/work-packages.test-data.ts
  src/backend/tests/work-packages.test.ts
Labels: back-end, testing

#868 #826 - Change Request Delete Modal
  src/backend/src/services/change-requests.services.ts
  src/frontend/src/apis/change-requests.api.ts
  src/frontend/src/hooks/change-requests.hooks.ts
  src/frontend/src/pages/ChangeRequestDetailPage/ChangeRequestDetails.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ChangeRequestDetailsView.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/DeleteChangeRequest.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/DeleteChangeRequestView.tsx
  src/frontend/src/tests/pages/ChangeRequestDetailPage/DeleteChangeRequestView.test.tsx
  src/frontend/src/utils/urls.ts
Labels: front-end, new feature

#893 #890 Edit Work Package Stage
  src/backend/src/controllers/work-packages.controllers.ts
  src/backend/src/prisma/seed-data/work-packages.seed.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/work-packages.routes.ts
  src/backend/src/services/work-packages.services.ts
  src/backend/src/utils/validation.utils.ts
  src/backend/tests/work-packages.test.ts
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditContainer.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditDetails.tsx
Labels: new feature

#891 #889 Hook up work package stage on creation
  src/backend/src/controllers/work-packages.controllers.ts
  src/backend/src/prisma/seed-data/work-packages.seed.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/work-packages.routes.ts
  src/backend/src/services/work-packages.services.ts
  src/backend/tests/work-packages.test.ts
  src/frontend/src/pages/CreateWorkPackagePage/CreateWorkPackageForm.tsx
  src/frontend/src/pages/CreateWorkPackagePage/CreateWorkPackageFormView.tsx
Labels: new feature

#897 #419 delete work package endpoint
  src/backend/src/controllers/work-packages.controllers.ts
  src/backend/src/prisma-query-args/projects.query-args.ts
  src/backend/src/routes/work-packages.routes.ts
  src/backend/src/services/work-packages.services.ts
  src/backend/tests/work-packages.test.ts
Labels: back-end, new feature

#835 #418 Delete Project Endpoint
  .github/workflows/lint-check.yml
  src/backend/src/controllers/projects.controllers.ts
  src/backend/src/routes/projects.routes.ts
  src/backend/src/services/projects.services.ts
  src/backend/src/services/work-packages.services.ts
  src/backend/tests/projects.test.ts
Labels: back-end, new feature

#874 #804 updated user menu to use MUI icons
  src/frontend/src/layouts/NavTopBar/NavUserMenu.tsx
Labels: feature enhancement, front-end

#875 replaced icons
  src/frontend/src/pages/InfoPage.tsx
Labels: technical improvement, front-end

#896 #787: moved admin tools to user menu
  src/frontend/src/layouts/NavTopBar/NavUserMenu.tsx
  src/frontend/src/layouts/Sidebar/Sidebar.tsx
Labels: front-end

#876 #240 test create risk endpoint
  src/backend/tests/risks.test.ts
Labels: back-end, testing

#813 #777-GanttProjectSort by WBSNum
  src/frontend/src/pages/GanttPage/GanttPageWrapper.tsx
  src/frontend/src/tests/utils/gantt.utils.test.ts
  src/frontend/src/utils/gantt.utils.ts
Labels: bug, front-end

#906 #888 - Work Package Stage Chip on Detail Page
  src/frontend/src/components/WorkPackageStageChip.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/WorkPackageSummary.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageDetails.tsx
  src/frontend/src/tests/apis/work-packages.api.test.ts
  src/frontend/src/tests/components/ChangesList.test.tsx
  src/frontend/src/tests/components/DescriptionList.test.tsx
  src/frontend/src/tests/hooks/WorkPackages.hooks.test.tsx
  src/frontend/src/tests/pages/ProjectDetailPage/ProjectViewContainer.test.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/WorkPackagePage.test.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/WorkPackageViewContainer/DependenciesList.test.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageDetails.test.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageViewContainer.test.tsx
  src/frontend/src/tests/test-support/test-data/projects.stub.ts
  src/frontend/src/tests/test-support/test-data/wbs-numbers.stub.ts
  src/frontend/src/tests/test-support/test-data/work-packages.stub.ts
  src/frontend/src/utils/themes.ts
Labels: front-end, new feature

#894 #761 populate taskslist pageblock
  src/backend/src/prisma/seed.ts
  src/frontend/src/apis/projects.api.ts
  src/frontend/src/apis/tasks.api.ts
  src/frontend/src/apis/transformers/projects.transformers.ts
  src/frontend/src/apis/transformers/tasks.transformers.ts
  src/frontend/src/hooks/tasks.hooks.ts
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectViewContainer.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskListTabPanel.tsx
  src/frontend/src/tests/pages/ProjectDetailPage/TaskList.test.tsx
  src/frontend/src/utils/pipes.ts
  src/frontend/src/utils/urls.ts
  src/shared/src/types/task-types.ts
Labels: front-end, new feature

#887 #822: Changed button to NERButton
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: feature enhancement, front-end

#834 #532 Changed Typographies to Form Labels
  src/frontend/src/pages/ProjectDetailPage/ProjectEdit/ProjectEditDetails.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditDetails.tsx
Labels: technical improvement, front-end

#915 #326-move-calendar-and-confluence-links
  src/frontend/src/pages/HomePage/UsefulLinks.tsx
  src/frontend/src/pages/InfoPage.tsx
  src/frontend/src/tests/pages/InfoPage.test.tsx
Labels: feature enhancement, front-end, straightforward

#912 #882 Editing WP Status should no longer be allowed
  src/backend/src/controllers/work-packages.controllers.ts
  src/backend/src/prisma/seed-data/work-packages.seed.ts
  src/backend/src/routes/work-packages.routes.ts
  src/backend/src/services/work-packages.services.ts
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditContainer.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditDetails.tsx
Labels: feature enhancement, back-end

#920 #266 - Add More Tests for Creating Work Packages
  src/backend/tests/work-packages.test.ts
Labels: back-end, testing

#914 Edit task assignees
  src/backend/src/controllers/tasks.controllers.ts
  src/backend/src/routes/tasks.routes.ts
  src/backend/src/services/tasks.services.ts
  src/backend/tests/tasks.test.ts
  src/backend/tests/test-data/tasks.test-data.ts
Labels: back-end, new feature

#902 #790 edit task endpoint
  src/backend/src/controllers/tasks.controllers.ts
  src/backend/src/routes/tasks.routes.ts
  src/backend/src/services/tasks.services.ts
  src/backend/tests/tasks.test.ts
Labels: back-end, new feature

#869 #831 Removed redirectQueryArgs so user is not brought to undefined page
  src/frontend/src/app/AppPublic.tsx
Labels: bug, front-end
