Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2023-04, with the labels that each got.

#1074 #1069-EthanMouri-credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#979 #977 Enforce Checked DBs when creating stage gate
  src/backend/src/prisma/seed.ts
  src/backend/src/services/change-requests.services.ts
  src/backend/src/utils/description-bullets.utils.ts
  src/frontend/src/pages/WorkPackageDetailPage/StageGateWorkPackageModalContainer/StageGateWorkPackageModalContainer.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/StageGateWorkPackageModalContainer/StageGateWorkPackageModalContainer.test.tsx
Labels: back-end

#995 #668 remove any
  src/frontend/src/components/ErrorBoundary.tsx
Labels: technical improvement

#1051 #964 Task List Refactoring
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectViewContainer.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskList.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskListComponents.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskListDataGrid.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskListNotesModal.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskListTabPanel.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskListTabPanel.tsx
  src/frontend/src/tests/pages/ProjectDetailPage/TaskList.test.tsx
  src/frontend/src/utils/task.utils.ts
Labels: technical improvement

#1052 #711: removed any type from projects-get-all
  src/shared/src/backend-supports/projects-get-all.ts
Labels: technical improvement

#1070 #1025 heads
  src/backend/src/prisma/migrations/20230327210125_add_head_user_role/migration.sql
  src/backend/src/prisma/schema.prisma
  src/backend/src/prisma/seed-data/users.seed.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/services/change-requests.services.ts
  src/backend/src/services/projects.services.ts
  src/backend/src/services/risks.services.ts
  src/backend/src/services/tasks.services.ts
  src/backend/src/services/teams.services.ts
  src/backend/src/services/users.services.ts
  src/backend/src/services/work-packages.services.ts
  src/backend/src/utils/description-bullets.utils.ts
  src/backend/src/utils/errors.utils.ts
  src/backend/src/utils/risks.utils.ts
  src/backend/src/utils/tasks.utils.ts
  src/backend/src/utils/validation.utils.ts
  src/backend/tests/change-requests.test.ts
  src/backend/tests/projects.test.ts
  src/backend/tests/risks.test.ts
  src/backend/tests/tasks.test.ts
  src/backend/tests/teams.test.ts
  src/backend/tests/test-data/users.test-data.ts
  src/backend/tests/work-packages.test.ts
  src/frontend/src/layouts/NavTopBar/NavUserMenu.tsx
  src/frontend/src/pages/AdminToolsPage/AdminTools.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ChangeRequestDetails.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ProposedSolutionsList.tsx
  src/frontend/src/pages/ChangeRequestsPage/ChangeRequestsTable.tsx
  src/frontend/src/pages/CreateChangeRequestPage/CreateProposedSolutionsList.tsx
  src/frontend/src/pages/CreateProjectPage/CreateProjectForm.tsx
  src/frontend/src/pages/CreateWorkPackagePage/CreateWorkPackageForm.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectViewContainer.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/RiskLog.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskList.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskListNotesModal.tsx
  src/frontend/src/pages/TeamsPage/DescriptionPageBlock.tsx
  src/frontend/src/pages/TeamsPage/TeamMembersPageBlock.tsx
  src/frontend/src/pages/WorkPackageDetailPage/ActivateWorkPackageModalContainer/ActivateWorkPackageModalContainer.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditContainer.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackagePage.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageViewContainer.tsx
  src/frontend/src/tests/test-support/test-data/users.stub.ts
  src/shared/index.ts
  src/shared/src/permission-utils.ts
  src/shared/src/rank-user-role.ts
  src/shared/src/types/user-types.ts
Labels: back-end, difficult

#1090 #685 change user settings edit to use ner buttons
  src/frontend/src/pages/SettingsPage/UserSettings/UserSettings.tsx
Labels: feature enhancement, front-end

#1099 #1042-project-detail-page-revamp-skeleton
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectDetailTabs.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectViewContainer.tsx
Labels: new feature, straightforward

#1053 #967 gantt wpcolors bystage
  src/frontend/src/components/WorkPackageStageChip.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/helpers/bar-helper.ts
  src/frontend/src/utils/enum-pipes.ts
  src/frontend/src/utils/gantt.utils.ts
Labels: feature enhancement, front-end

#1001 #710 changed any type to a given interface
  src/frontend/src/apis/work-packages.api.ts
  src/frontend/src/pages/CreateWorkPackagePage/CreateWorkPackageForm.tsx
Labels: technical improvement

#1026 #984 -Sort Tasks by deadline and date created
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskList.tsx
Labels: feature enhancement, front-end

#1055 #978 Added project name to WBS # field in Change Request Details
  src/frontend/src/pages/ChangeRequestDetailPage/ChangeRequestDetailsView.tsx
  src/frontend/src/tests/pages/ChangeRequestDetailPage/ChangeRequestDetailsView.test.tsx
Labels: feature enhancement, medium, front-end
