Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2023-03, with the labels that each got.

#913 #763 task list modal
  src/backend/src/prisma-query-args/projects.query-args.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/services/tasks.services.ts
  src/backend/src/utils/teams.utils.ts
  src/backend/tests/tasks.test.ts
  src/backend/tests/test-data/teams.test-data.ts
  src/backend/tests/test-data/users.test-data.ts
  src/frontend/src/apis/projects.api.ts
  src/frontend/src/apis/tasks.api.ts
  src/frontend/src/hooks/tasks.hooks.ts
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectViewContainer.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskListNotesModal.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskListTabPanel.tsx
  src/frontend/src/pages/TeamsPage/DescriptionPageBlock.tsx
  src/frontend/src/tests/pages/ProjectDetailPage/TaskList.test.tsx
  src/frontend/src/utils/urls.ts
  src/shared/src/types/team-types.ts
Labels: front-end, new feature

#932 #421: delete project modal
  src/frontend/src/apis/projects.api.ts
  src/frontend/src/hooks/projects.hooks.ts
  src/frontend/src/pages/ProjectDetailPage/DeleteProject.tsx
  src/frontend/src/pages/ProjectDetailPage/DeleteProjectView.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectViewContainer.tsx
  src/frontend/src/utils/urls.ts
Labels: front-end, new feature

#935 #422 delete wp modal
  src/frontend/src/apis/work-packages.api.ts
  src/frontend/src/hooks/work-packages.hooks.ts
  src/frontend/src/layouts/NavTopBar/NavUserMenu.tsx
  src/frontend/src/pages/WorkPackageDetailPage/DeleteWorkPackageModalContainer/DeleteWorkPackage.tsx
  src/frontend/src/pages/WorkPackageDetailPage/DeleteWorkPackageModalContainer/DeleteWorkPackageView.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackagePage.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageViewContainer.tsx
  src/frontend/src/utils/urls.ts
Labels: front-end, difficult, new feature

#943 #907 - Fixed Overlapping Gantt Filters
  src/frontend/src/pages/GanttPage/GanttPageFilter.tsx
Labels: bug, front-end

#941 #638: replaced alert() with useToast() in projectEditContainer
  src/frontend/src/pages/ProjectDetailPage/ProjectEdit/ProjectEditContainer.tsx
Labels: feature enhancement, front-end

#908 #635-Replaced-alert()-with-useToast()-in-ReviewChangeRequest
  src/frontend/src/pages/ChangeRequestDetailPage/ReviewChangeRequest.tsx
Labels: feature enhancement, front-end

#880 #778 - Added sx to car filters checkbox to fix alignment
  src/frontend/src/pages/GanttPage/GanttPageFilter.tsx
Labels: bug, front-end

#949 #815 - Updated todayColor for Gantt Chart
  src/frontend/src/pages/GanttPage/GanttPackage/components/gantt/gantt.tsx
Labels: feature enhancement, front-end

#916 #640 replace alerts in wpec
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditContainer.tsx
Labels: feature enhancement, front-end

#929 #762 - Create and Delete Tasks
  src/backend/src/controllers/tasks.controllers.ts
  src/backend/src/routes/tasks.routes.ts
  src/frontend/src/apis/projects.api.ts
  src/frontend/src/apis/tasks.api.ts
  src/frontend/src/hooks/tasks.hooks.ts
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectViewContainer.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskListTabPanel.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditContainer.tsx
  src/frontend/src/utils/urls.ts
Labels: front-end, new feature

#909 #883 Validated the set team members route
  src/backend/src/routes/teams.routes.ts
Labels: back-end, technical improvement

#936 Task Lists
  src/backend/src/controllers/tasks.controllers.ts
  src/backend/src/prisma-query-args/projects.query-args.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/tasks.routes.ts
  src/backend/src/services/tasks.services.ts
  src/backend/src/utils/teams.utils.ts
  src/backend/tests/tasks.test.ts
  src/backend/tests/test-data/teams.test-data.ts
  src/backend/tests/test-data/users.test-data.ts
  src/frontend/src/apis/projects.api.ts
  src/frontend/src/apis/tasks.api.ts
  src/frontend/src/apis/transformers/projects.transformers.ts
  src/frontend/src/apis/transformers/tasks.transformers.ts
  src/frontend/src/hooks/tasks.hooks.ts
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectViewContainer.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskListNotesModal.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskListTabPanel.tsx
  src/frontend/src/pages/TeamsPage/DescriptionPageBlock.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditContainer.tsx
  src/frontend/src/tests/pages/ProjectDetailPage/TaskList.test.tsx
  src/frontend/src/utils/pipes.ts
  src/frontend/src/utils/urls.ts
  src/shared/src/types/task-types.ts
  src/shared/src/types/team-types.ts
Labels: new feature, epic

#918 #247-ShreeSinghal-TestgetAllChangeRequests
  src/backend/tests/change-requests.test.ts
Labels: testing

#960 #738: Added X button to Review CR Modal UI
  src/frontend/src/pages/ChangeRequestDetailPage/ReviewChangeRequestView.tsx
Labels: feature enhancement, front-end

#919 #712: Change CreateProjectPage to use NER Buttons
  src/frontend/src/pages/CreateProjectPage/CreateProjectFormView.tsx
Labels: feature enhancement, front-end

#971 #956 - Remove Task List Loading Indicator With No Team
  src/frontend/src/hooks/tasks.hooks.ts
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectViewContainer.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskListNotesModal.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskListTabPanel.tsx
  src/frontend/src/tests/pages/ProjectDetailPage/TaskList.test.tsx
  src/frontend/src/tests/test-support/mock-hooks.ts
  src/frontend/src/tests/test-support/test-data/projects.stub.ts
  src/frontend/src/tests/test-support/test-data/tasks.stub.ts
  src/frontend/src/tests/test-support/test-data/teams.stub.ts
  src/frontend/src/tests/test-support/test-data/users.stub.ts
Labels: bug, front-end

#970 #968: Gantt Improvements
  src/frontend/src/pages/GanttPage/GanttChart.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/calendar/calendar.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/gantt/gantt.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/vertical-scroll.tsx
  src/frontend/src/pages/GanttPage/GanttPackage/helpers/date-helper.ts
  src/frontend/src/pages/GanttPage/GanttPackage/helpers/other-helper.ts
  src/frontend/src/pages/GanttPage/GanttPage.tsx
  src/frontend/src/pages/GanttPage/GanttPageFilter.tsx
  src/frontend/src/pages/GanttPage/GanttPageWrapper.tsx
  src/frontend/src/utils/gantt.utils.ts
Labels: front-end

#982 #841 Removed the 'Leftover Budget' field from the Stage Gate Modal
  src/frontend/src/pages/WorkPackageDetailPage/StageGateWorkPackageModalContainer/StageGateWorkPackageModal.tsx
  src/frontend/src/pages/WorkPackageDetailPage/StageGateWorkPackageModalContainer/StageGateWorkPackageModalContainer.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/StageGateWorkPackageModalContainer/StageGateWorkPackageModal.test.tsx
Labels: feature enhancement, front-end

#981 #980 Remove Requirement for notes/assignees
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskListNotesModal.tsx
Labels: bug

#938 #707 Removed use of any in projects.api
  src/frontend/src/apis/projects.api.ts
  src/frontend/src/hooks/projects.hooks.ts
  src/frontend/src/utils/types.ts
Labels: technical improvement

#974 #812 change request action menu
  src/frontend/src/pages/ChangeRequestDetailPage/ChangeRequestDetailsView.tsx
Labels: front-end, straightforward

#1000 #997 Wrap project datagrid row with link
  src/frontend/src/pages/ProjectsPage/ProjectsTable.tsx
Labels: feature enhancement, front-end

#1018 #674: Import MouseEventHandler remove any from CreateProjectFormView
  src/frontend/src/pages/CreateProjectPage/CreateProjectFormView.tsx
Labels: technical improvement, medium, front-end

#951 Map task list tab to URL
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList.tsx
Labels: technical improvement, front-end

#953 #290 - Update ProjectPage.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectPage.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackagePage.tsx
Labels: bug, front-end, straightforward

#1024 #969, #994 - Gantt Fixes
  src/frontend/src/pages/GanttPage/GanttPackage/components/other/Tooltip.tsx
  src/frontend/src/utils/gantt.utils.ts
Labels: bug, feature enhancement, front-end

#1054 #1037 Switched Project Lead to Lead on WPDetails
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageDetails.tsx
Labels: front-end

#517 #354 Automatic Implementation of start dates for dependent work…
  src/backend/src/controllers/work-packages.controllers.ts
  src/backend/src/prisma-query-args/projects.query-args.ts
  src/backend/src/prisma-query-args/work-packages.query-args.ts
  src/backend/src/prisma/migrations/20230306044000_rename_dependencies/migration.sql
  src/backend/src/prisma/schema.prisma
  src/backend/src/prisma/seed-data/work-packages.seed.ts
  src/backend/src/routes/work-packages.routes.ts
  src/backend/src/services/change-requests.services.ts
  src/backend/src/services/projects.services.ts
  src/backend/src/services/work-packages.services.ts
  src/backend/src/transformers/projects.transformer.ts
  src/backend/src/transformers/work-packages.transformer.ts
  src/backend/src/utils/change-requests.utils.ts
  src/backend/src/utils/work-packages.utils.ts
  src/backend/tests/change-requests.test.ts
  src/backend/tests/test-data/projects.test-data.ts
  src/backend/tests/test-data/work-packages.test-data.ts
  src/backend/tests/work-packages.test.ts
  src/frontend/src/pages/CreateWorkPackagePage/CreateWorkPackageForm.tsx
  src/frontend/src/pages/CreateWorkPackagePage/CreateWorkPackageFormView.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/WorkPackageSummary.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditContainer.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/BlockedBy.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageViewContainer.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/WorkPackagePage.test.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/WorkPackageViewContainer/BlockedBy.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/WorkPackageViewContainer/BlockedByList.test.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageViewContainer.test.tsx
  src/frontend/src/tests/test-support/test-data/work-packages.stub.ts
  src/shared/index.ts
  src/shared/src/backend-supports/project-supports.ts
  src/shared/src/date-utils.ts
  src/shared/src/types/project-types.ts
Labels: feature enhancement, back-end

#1030 #845 Changed Sidebar Icons from Fontawesome
  src/frontend/src/layouts/Sidebar/NavPageLinks.tsx
  src/frontend/src/layouts/Sidebar/Sidebar.tsx
  src/frontend/src/tests/test-support/test-data/test-utils.stub.ts
  src/frontend/src/utils/types.ts
Labels: technical improvement, front-end

#1056 #924 improve layout form fields
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditContainer.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageEditContainer/WorkPackageEditDetails.tsx
Labels: feature enhancement, front-end

#1028 #692 Changed any type with request and response
  src/backend/src/controllers/users.controllers.ts
Labels: technical improvement

#952 #670: replace all any type (draft)
  src/frontend/src/components/ReactHookEditableList.tsx
Labels: technical improvement, front-end

#957 #925-improve-layout-of-form-fields
  src/frontend/src/pages/CreateProjectPage/CreateProjectFormView.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageViewContainer.test.tsx
Labels: feature enhancement, front-end

#1013 #988 schema favorite projects
  src/backend/src/prisma-query-args/auth-user.query-args.ts
  src/backend/src/prisma/migrations/20230320233750_favorite_projects/migration.sql
  src/backend/src/prisma/schema.prisma
  src/backend/src/transformers/auth-user.transformer.ts
  src/shared/src/types/user-types.ts
Labels: back-end

#1017 #1016: Add my name to credits page
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#1014 #337 timeline status should be displayed better
  src/frontend/src/pages/HomePage/WorkPackageCard.tsx
  src/frontend/src/pages/HomePage/WorkPackagesByTimelineStatus.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageDetails.tsx
  src/frontend/src/tests/pages/HomePage/WorkPackagesByTimelineStatus.test.tsx
  src/frontend/src/tests/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageDetails.test.tsx
  src/frontend/src/utils/pipes.ts
Labels: feature enhancement, front-end

#1012 705: Removed any from work-packages.utils.ts
  src/backend/src/utils/work-packages.utils.ts
Labels: technical improvement
