Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2023-09, with the labels that each got.

#1342 #1339 - Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#1393 #1375 teera tesharojanasup credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#1436 #1435 Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#1438 #1187: Heads can now edit project tasks v3
  src/backend/src/services/tasks.services.ts
  src/backend/tests/tasks.test.ts
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskListTabPanel.tsx
Labels: good first issue, back-end, front-end, straightforward

#1468 #1463: added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#1420 536 cr creation sort the wbs dropdown
  src/frontend/src/pages/CreateChangeRequestPage/CreateChangeRequestView.tsx
  src/frontend/src/tests/utils/validate-wbs.test.ts
  src/shared/src/validate-wbs.ts
Labels: technical improvement, medium, front-end

#1475 #1457 Added name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#1539 #1515 changed pageSize in TaskListDataGrid to a default value of 25, …
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskListDataGrid.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskListTabPanel.tsx
Labels: front-end

#1346 #1244: set teams lead
  src/backend/src/controllers/teams.controllers.ts
  src/backend/src/routes/teams.routes.ts
  src/backend/src/services/teams.services.ts
  src/backend/tests/teams.test.ts
  src/frontend/src/apis/teams.api.ts
  src/frontend/src/hooks/teams.hooks.ts
  src/frontend/src/pages/TeamsPage/TeamMembersPageBlock.tsx
  src/frontend/src/utils/urls.ts
Labels: Ready for Review, Reid

#1478 #1424 vendors alphabetical sort
  src/backend/src/prisma/seed.ts
  src/frontend/src/pages/FinancePage/ReimbursementRequestForm/ReimbursementFormView.tsx
Labels: Approved, Ryan

#1439 #1289 change expense type to autocomplete
  src/frontend/src/components/NERAutocomplete.tsx
  src/frontend/src/pages/FinancePage/ReimbursementRequestForm/ReimbursementFormView.tsx
Labels: Approved

#1541 #1182 - Create Team Endpoint/Admin Tool
  src/backend/src/controllers/teams.controllers.ts
  src/backend/src/routes/teams.routes.ts
  src/backend/src/services/teams.services.ts
  src/frontend/src/apis/teams.api.ts
  src/frontend/src/components/NERAutocomplete.tsx
  src/frontend/src/components/ReactHookTextField.tsx
  src/frontend/src/hooks/teams.hooks.ts
  src/frontend/src/pages/AdminToolsPage/AdminToolTable.tsx
  src/frontend/src/pages/AdminToolsPage/AdminToolsPage.tsx
  src/frontend/src/pages/AdminToolsPage/AdminToolsUserManagement.tsx
  src/frontend/src/pages/AdminToolsPage/FinanceConfig/AccountCodesTable.tsx
  src/frontend/src/pages/AdminToolsPage/FinanceConfig/VendorsTable.tsx
  src/frontend/src/pages/AdminToolsPage/TeamsTools.tsx
  src/frontend/src/pages/ChangeRequestDetailPage/ChangeRequestActionMenu.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectEdit/ProjectEditDetails.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskListComponents.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/TaskList/TaskListNotesModal.tsx
  src/frontend/src/pages/TeamsPage/TeamMembersPageBlock.tsx
  src/frontend/src/utils/task.utils.ts
  src/frontend/src/utils/teams.utils.ts
  src/frontend/src/utils/urls.ts
Labels: Reviewed

#1537 #1183 Delete Team Endpoint
  src/backend/src/controllers/teams.controllers.ts
  src/backend/src/routes/teams.routes.ts
  src/backend/src/services/teams.services.ts
  src/backend/tests/teams.test.ts
  src/frontend/src/apis/teams.api.ts
  src/frontend/src/hooks/teams.hooks.ts
  src/frontend/src/pages/TeamsPage/DeleteTeamModal.tsx
  src/frontend/src/pages/TeamsPage/TeamSpecificPage.tsx
  src/frontend/src/utils/urls.ts
Labels: Ready for Review, Reid

#1558 #1513: added team description to user settings
  src/frontend/src/pages/SettingsPage/Settings.tsx
Labels: Approved, Ryan

#1569 #1568 - all finance members have all perms
  src/backend/src/services/reimbursement-requests.services.ts
  src/backend/src/utils/reimbursement-requests.utils.ts
  src/backend/tests/reimbursement-requests.test.ts
  src/frontend/src/pages/FinancePage/FinancePage.tsx
Labels: Ready for Review, Peyton
