Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2024-11, with the labels that each got.

#2932 #2916 create checklist item endpoint
  src/backend/src/controllers/onboarding.controller.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/onboarding.routes.ts
  src/backend/src/services/onboarding.services.ts
  src/backend/src/utils/errors.utils.ts
  src/backend/tests/unmocked/onboarding.test.ts
Labels: back-end, medium

#2937 #2936 fixing create checklist item bug
  src/backend/src/prisma/seed.ts
  src/backend/src/services/onboarding.services.ts
  src/backend/tests/unmocked/onboarding.test.ts
Labels: bug, back-end, straightforward

#3009 #3002 add onboarding text and contacts to organization model
  src/backend/src/prisma/migrations/20241119010247_added_contacts_and_onboarding_text_to_organization/migration.sql
  src/backend/src/prisma/schema.prisma
Labels: back-end, straightforward

#2992 #2983 onboarding create onboarding block
  src/frontend/src/pages/HomePage/components/InfoBlock.tsx
Labels: Ready for Review, Aaryan

#2941 #2940-Announcements and Notifications Schema Changes
  src/backend/src/prisma/migrations/20241112180715_announcements_and_notifications/migration.sql
  src/backend/src/prisma/schema.prisma
Labels: Sean

#3034 #2915 Created update checklist endpoint
  src/backend/src/controllers/onboarding.controller.ts
  src/backend/src/routes/onboarding.routes.ts
  src/backend/src/services/onboarding.services.ts
  src/backend/tests/unmocked/onboarding.test.ts
Labels: recruitment and onboarding
