Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2024-08, with the labels that each got.

#2729 #2724 set images endpoint for organization
  src/backend/src/controllers/organizations.controller.ts
  src/backend/src/prisma/migrations/20240726002259_added_images_to_organization/migration.sql
  src/backend/src/prisma/schema.prisma
  src/backend/src/routes/organizations.routes.ts
  src/backend/src/services/organizations.service.ts
  src/backend/tests/unmocked/organization.test.ts
Labels: back-end, difficult

#2752 #2704 Edit FAQ endpoint
  src/backend/src/controllers/recruitment.controllers.ts
  src/backend/src/routes/recruitment.routes.ts
  src/backend/src/services/recruitment.services.ts
  src/backend/tests/test-utils.ts
  src/backend/tests/unmocked/recruitment.test.ts
Labels: back-end, difficult

#2753 2700 recruitment getallfaqs endpoint
  src/backend/src/controllers/recruitment.controllers.ts
  src/backend/src/routes/recruitment.routes.ts
  src/backend/src/services/recruitment.services.ts
  src/backend/tests/unmocked/recruitment.test.ts
Labels: back-end, medium

#2662 #1587: added everything from previous wrong branch (made off of develop)
  src/backend/src/controllers/projects.controllers.ts
  src/backend/src/controllers/work-packages.controllers.ts
  src/backend/src/routes/projects.routes.ts
  src/backend/src/routes/work-packages.routes.ts
  src/backend/src/services/projects.services.ts
  src/backend/src/services/work-packages.services.ts
Labels: Ready for Review
