Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2024-01, with the labels that each got.

#1775 #1774: added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits, Ready for Review

#1731 #1730 removed top bar and changed sidebar
  src/frontend/public/kaleidoscope-logo-lockup.svg
  src/frontend/public/kaleidoscope-logo.svg
  src/frontend/src/app/AppAuthenticated.tsx
  src/frontend/src/components/NERDrawer.tsx
  src/frontend/src/layouts/NavTopBar/NavTopBar.tsx
  src/frontend/src/layouts/PageTitle/NavUserMenu.tsx
  src/frontend/src/layouts/PageTitle/PageTitle.tsx
  src/frontend/src/layouts/Sidebar/Sidebar.tsx
  src/frontend/src/pages/HomePage/Home.tsx
  src/frontend/src/pages/WorkPackageDetailPage/WorkPackageViewContainer/WorkPackageViewContainer.tsx
  src/frontend/src/pages/WorkPackageForm/WorkPackageFormView.tsx
  src/frontend/src/tests/layouts/PageTitle/PageTitle.test.tsx
  src/frontend/src/tests/layouts/Sidebar/Sidebar.test.tsx
  src/frontend/src/tests/pages/InfoPage.test.tsx
  src/frontend/src/tests/pages/ProjectDetailPage/ProjectViewContainer.test.tsx
Labels: Reviewed, Reid

#1811 #1800 Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: Approved

#1810 #1806 Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#1733 #1605 Archive Team Endpoint
  src/backend/src/controllers/teams.controllers.ts
  src/backend/src/prisma-query-args/teams.query-args.ts
  src/backend/src/routes/teams.routes.ts
  src/backend/src/services/teams.services.ts
  src/backend/src/transformers/teams.transformer.ts
  src/backend/tests/teams.test.ts
  src/backend/tests/test-data/teams.test-data.ts
  src/shared/src/types/team-types.ts
Labels: Reviewed, Reid

#1827 #1826 Added my name to credits page
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: Approved

#1829 #1828-BenMarler-credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: Approved

#1832 #1803-AnyaDasgupta-credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: Approved

#1837 #1834-AahilNishad-credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits, Approved

#1838 #1836-CaioDaSilva-credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#1854 #1805-DaoHo-credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#1850 #1830-WaverlyHassman-credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits, Approved

#1776 #1451-edit-vendor-modal
  src/frontend/src/apis/finance.api.ts
  src/frontend/src/hooks/finance.hooks.ts
  src/frontend/src/pages/AdminToolsPage/FinanceConfig/AccountCodeFormModal.tsx
  src/frontend/src/pages/AdminToolsPage/FinanceConfig/CreateVendorModal.tsx
  src/frontend/src/pages/AdminToolsPage/FinanceConfig/EditVendorModal.tsx
  src/frontend/src/pages/AdminToolsPage/FinanceConfig/VendorFormModal.tsx
  src/frontend/src/pages/AdminToolsPage/FinanceConfig/VendorsTable.tsx
  src/frontend/src/utils/urls.ts
Labels: Reviewed, Sean, Reid

#1841 #1612 Add reimbursed status endpoint
  src/backend/src/controllers/reimbursement-requests.controllers.ts
  src/backend/src/routes/reimbursement-requests.routes.ts
  src/backend/src/services/reimbursement-requests.services.ts
  src/backend/tests/reimbursement-requests.test.ts
Labels: back-end, Ready for Review

#1853 #1613 Add mark as reimbursed action button
  src/frontend/src/apis/finance.api.ts
  src/frontend/src/hooks/finance.hooks.ts
  src/frontend/src/pages/FinancePage/ReimbursementRequestDetailPage/ReimbursementRequestDetailsView.tsx
  src/frontend/src/utils/urls.ts
Labels: front-end, Ready for Review

#1869 #1858: added my name
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits, Ready for Review

#1844 #1840-VincentDemaisip-credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: credits

#1875 #1754 Display form error if CR with no proposed solution
  src/frontend/src/pages/CreateChangeRequestPage/CreateChangeRequest.tsx
Labels: front-end, Ready for Review

#1884 #1542 Create LinkType endpoint
  src/backend/src/controllers/projects.controllers.ts
  src/backend/src/routes/projects.routes.ts
  src/backend/src/services/projects.services.ts
  src/backend/tests/projects.test.ts
  src/backend/tests/test-data/projects.test-data.ts
Labels: back-end, Ready for Review

#1951 '#1942 added my name to the credits page'
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: Approved

#1961 #1958: Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: Approved

#1977 #1974 Added name to credits page
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: Approved

#1948 #1444: yup alert if duplicate vendor names
  src/frontend/src/pages/AdminToolsPage/FinanceConfig/CreateVendorModal.tsx
  src/frontend/src/pages/AdminToolsPage/FinanceConfig/EditVendorModal.tsx
  src/frontend/src/pages/AdminToolsPage/FinanceConfig/VendorFormModal.tsx
  src/frontend/src/pages/AdminToolsPage/FinanceConfig/VendorsTable.tsx
Labels: medium, front-end, Approved

#1978 #1780: Fixed unit quantity and unit name not having a space
  src/frontend/src/utils/bom.utils.ts
Labels: Approved, Sean

#1976 #1793 - Remove Email ID from Settings Page
  src/frontend/src/pages/SettingsPage/Settings.tsx
Labels: front-end, Approved

#1882 #1758 - Finance Fix - Sort Refunds newest to oldest
  src/frontend/src/pages/FinancePage/RefundsSection.tsx
Labels: front-end, Approved

#1946 #1945 Added my name to credits page
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: Approved

#1851 #1304: isAdmin check for all reimbursements
  src/backend/src/services/reimbursement-requests.services.ts
  src/frontend/src/pages/FinancePage/RefundsSection.tsx
  src/frontend/src/pages/FinancePage/ReimbursementRequestsSection.tsx
Labels: Ready for Review, Reid

#1888 #1585: added vendor column
  src/frontend/src/pages/FinancePage/ReimbursementRequestsSection.tsx
  src/frontend/src/utils/reimbursement-request.utils.ts
Labels: Approved

#1975 #1929 Add dateDeleted to expense type and vendor in schema
  src/backend/src/prisma/migrations/20240125015614_add_date_deleted_to_expense_type_and_vendor/migration.sql
  src/backend/src/prisma/schema.prisma
  src/backend/src/services/reimbursement-requests.services.ts
  src/backend/src/transformers/reimbursement-requests.transformer.ts
  src/backend/src/transformers/vendor.transformer.ts
  src/backend/tests/reimbursement-requests.test.ts
  src/backend/tests/test-data/reimbursement-requests.test-data.ts
  src/shared/src/types/reimbursement-requests-types.ts
Labels: back-end, Ready for Review

#1994 #1787-bom-new-entry-should-be-disabled-for-guests
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/BOMTab.tsx
Labels: front-end, straightforward

#1910 #1543: added endpoint and tests to edit LinkType
  src/backend/src/controllers/projects.controllers.ts
  src/backend/src/routes/projects.routes.ts
  src/backend/src/services/projects.services.ts
  src/backend/src/utils/errors.utils.ts
  src/backend/tests/projects.test.ts
  src/backend/tests/test-data/projects.test-data.ts
Labels: back-end, Ready for Review

#2002 Adjusted PercentRefunded calculation to fix Refund bar
  src/frontend/src/pages/FinancePage/RefundsSection.tsx
Labels: Ready for Review, Sean

#1996 #1990 added route, service, and controller method to delete unit
  src/backend/src/controllers/projects.controllers.ts
  src/backend/src/routes/projects.routes.ts
  src/backend/src/services/projects.services.ts
  src/backend/tests/projects.test.ts
Labels: back-end, difficult

#2030 #1785: Disabled Project Actions Button for Guests
  src/frontend/src/pages/ProjectDetailPage/ProjectViewContainer/ProjectViewContainer.tsx
Labels: front-end, Ready for Review

#1753 #1598 session timeout error popup
  src/frontend/src/app/AppAuthenticated.tsx
  src/frontend/src/app/SessionTimeoutAlert.tsx
Labels: Ready for Review

#2026 #1763 Make change request ID an autocomplete
  src/frontend/src/components/ChangeRequestDropdown.tsx
  src/frontend/src/pages/ProjectDetailPage/ProjectForm/ProjectForm.tsx
Labels: front-end, Ready for Review
