Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2024-12, with the labels that each got.

#3038 #3037 refactored checklist schema and endpoints
  src/backend/src/controllers/onboarding.controller.ts
  src/backend/src/prisma-query-args/auth-user.query-args.ts
  src/backend/src/prisma/migrations/20240925151522_created_checklist_and_checklistitem_models/migration.sql
  src/backend/src/prisma/migrations/20241123160537_create_checklist_model/migration.sql
  src/backend/src/prisma/schema.prisma
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/onboarding.routes.ts
  src/backend/src/services/onboarding.services.ts
  src/backend/src/services/users.services.ts
  src/backend/src/transformers/auth-user.transformer.ts
  src/backend/tests/test-utils.ts
  src/backend/tests/unmocked/onboarding.test.ts
  src/frontend/src/app/AppAuthenticated.tsx
  src/frontend/src/app/AppPublic.tsx
  src/frontend/src/tests/test-support/test-data/authenticated-user.stub.ts
  src/frontend/src/tests/test-support/test-data/users.stub.ts
  src/shared/src/types/user-types.ts
Labels: recruitment and onboarding

#3028 #2985 add useful links block
  src/backend/src/prisma/seed.ts
  src/frontend/src/pages/HomePage/OnboardingHomePage.tsx
  src/frontend/src/pages/HomePage/components/InfoBlock.tsx
  src/frontend/src/pages/HomePage/components/OnboardingInfoSection.tsx
Labels: Ready for Review, recruitment and onboarding

#2965 #2905 update application link endpoint
  src/backend/src/controllers/organizations.controller.ts
  src/backend/src/routes/organizations.routes.ts
  src/backend/src/services/organizations.services.ts
  src/backend/tests/unmocked/organization.test.ts
Labels: recruitment and onboarding

#3051 #3006 create-updateOrganizationContacts
  src/backend/src/controllers/organizations.controller.ts
  src/backend/src/routes/organizations.routes.ts
  src/backend/src/services/organizations.services.ts
  src/backend/tests/unmocked/organization.test.ts
Labels: recruitment and onboarding

#3055 #3054 Only users who have not completedOnboarding can see the onboarding page
  src/backend/src/controllers/users.controllers.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/users.routes.ts
  src/backend/src/services/users.services.ts
  src/backend/src/transformers/auth-user.transformer.ts
  src/frontend/src/app/AppAuthenticated.tsx
  src/frontend/src/app/AppPublic.tsx
  src/frontend/src/tests/app/AppAuthenticated.test.tsx
  src/frontend/src/tests/test-support/test-data/authenticated-user.stub.ts
  src/frontend/src/tests/test-support/test-data/users.stub.ts
  src/shared/src/types/user-types.ts
Labels: Ready for Review, recruitment and onboarding

#2975 #2948 Aaron Zhou – Credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: maintenance

#2921 #2715: created timeline component
  package.json
  src/backend/src/prisma/seed.ts
  src/frontend/package.json
  src/frontend/src/pages/HomePage/components/Dropdown.tsx
  src/frontend/src/pages/HomePage/components/TimelineSection.tsx
  src/frontend/src/utils/datetime.utils.ts
  yarn.lock
Labels: recruitment and onboarding

#3056 #3007 Onboarding Block Component
  src/backend/src/prisma/seed.ts
  src/frontend/src/components/OnboardingBlock.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/OnboardingInfoSection.tsx
  src/frontend/src/pages/HomePage/components/OnboardingInfoSection.tsx
  src/shared/src/types/user-types.ts
Labels: Ready for Review, recruitment and onboarding

#3042 #2637 Update Testing Color
  src/frontend/src/pages/GanttPage/GanttChartComponents/GanttChartColorLegend.tsx
  src/frontend/src/utils/gantt.utils.ts
Labels: maintenance

#3043 #2595: Added a faint border around the current day to the design review calendar
  src/frontend/src/pages/CalendarPage/CalendarComponents/CalendarDayCard.tsx
Labels: maintenance

#3048 #3025 Added my name to credits
  src/frontend/src/pages/CreditsPage/CreditsPage.tsx
Labels: maintenance

#3019 #3012 create checklist component
  src/backend/src/controllers/onboarding.controller.ts
  src/backend/src/prisma/migrations/20241205224720_created_checklist_model/migration.sql
  src/backend/src/prisma/schema.prisma
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/onboarding.routes.ts
  src/backend/src/services/onboarding.services.ts
  src/backend/tests/test-utils.ts
  src/backend/tests/unmocked/onboarding.test.ts
  src/frontend/src/apis/onboarding.api.ts
  src/frontend/src/hooks/onboarding.hook.ts
  src/frontend/src/pages/HomePage/OnboardingHomePage.tsx
  src/frontend/src/pages/HomePage/components/Checklist.tsx
  src/frontend/src/pages/HomePage/components/ChecklistSection.tsx
  src/frontend/src/pages/HomePage/components/SubtaskSection.tsx
  src/frontend/src/pages/HomePage/components/Task.tsx
  src/frontend/src/utils/urls.ts
  src/shared/src/types/checklist-types.ts
Labels: recruitment and onboarding

#3017 3004 move useful links config to onboarding tab
  src/frontend/src/pages/AdminToolsPage/AdminToolsProjectsConfig.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/OnboardingInfoSection.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/UsefulLinks/CreateUsefulLinkModal.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/UsefulLinks/EditUsefulLinkModal.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/UsefulLinks/UsefulLinkFormModal.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/UsefulLinks/UsefulLinksTable.tsx
Labels: medium, front-end, recruitment and onboarding

#2889 2713 team type component
  src/backend/src/controllers/onboarding.controller.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/onboarding.routes.ts
  src/backend/src/services/onboarding.services.ts
  src/backend/src/utils/google-integration.utils.ts
  src/frontend/src/apis/finance.api.ts
  src/frontend/src/apis/onboarding.api.ts
  src/frontend/src/app/AppAuthenticated.tsx
  src/frontend/src/app/HomePageContext.tsx
  src/frontend/src/components/Tabs.tsx
  src/frontend/src/hooks/finance.hooks.ts
  src/frontend/src/hooks/onboarding.hook.ts
  src/frontend/src/layouts/Sidebar/Sidebar.tsx
  src/frontend/src/pages/AdminToolsPage/TeamConfig/TeamTypeTable.tsx
  src/frontend/src/pages/HomePage/GuestHomePage.tsx
  src/frontend/src/pages/HomePage/MemberHomePage.tsx
  src/frontend/src/pages/HomePage/OnboardingHomePage.tsx
  src/frontend/src/pages/HomePage/PNMHomePage.tsx
  src/frontend/src/pages/HomePage/components/OnboardingInfoSection.tsx
  src/frontend/src/pages/HomePage/components/TeamTypeSection.tsx
  src/frontend/src/utils/image.utils.ts
  src/frontend/src/utils/urls.ts
Labels: recruitment and onboarding

#3071 #3008 questions block admin tools
  src/backend/src/prisma/migrations/20241218015305_created_contacts_and_checklists_model/migration.sql
  src/backend/src/prisma/schema.prisma
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/organizations.routes.ts
  src/backend/src/services/organizations.services.ts
  src/backend/tests/test-utils.ts
  src/backend/tests/unmocked/organization.test.ts
  src/frontend/src/apis/organizations.api.ts
  src/frontend/src/hooks/organizations.hooks.ts
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/OnboardingInfoSection.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/UpdateContactsModal.tsx
  src/frontend/src/pages/HomePage/components/OnboardingInfoSection.tsx
  src/frontend/src/utils/urls.ts
  src/shared/src/types/user-types.ts
Labels: Ready for Review, recruitment and onboarding

#3077 #3011 admin tools checklist
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/AdminChecklist.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/AdminTask.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/AdminToolsOnboardingConfig.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/OnboardingBlock.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/OnboardingInfoSection.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/UsefulLinks/UsefulLinksTable.tsx
  src/frontend/src/pages/HomePage/components/Checklist.tsx
  src/frontend/src/pages/HomePage/components/ChecklistSection.tsx
  src/frontend/src/pages/HomePage/components/SubtaskSection.tsx
  src/frontend/src/utils/onboarding.utils.ts
Labels: Ready for Review, recruitment and onboarding

#3079 #3078 onboarding navigation
  src/frontend/src/layouts/PageTitle/NavUserMenu.tsx
  src/frontend/src/layouts/Sidebar/NavPageLink.tsx
  src/frontend/src/layouts/Sidebar/Sidebar.tsx
  src/frontend/src/layouts/Sidebar/SidebarButton.tsx
Labels: Ready for Review, recruitment and onboarding

#3026 #2908 Added limits to the reinbursement receipt's file name
  src/backend/src/utils/google-integration.utils.ts
  src/frontend/src/pages/FinancePage/ReimbursementRequestForm/ReimbursementFormView.tsx
Labels: maintenance

#3084 #2811 setup onboarding progress bar
  src/backend/tests/unmocked/organization.test.ts
  src/frontend/src/components/OnboardingProgressBar.tsx
  src/frontend/src/pages/HomePage/OnboardingHomePage.tsx
  src/frontend/src/pages/HomePage/components/Checklist.tsx
  src/frontend/src/pages/HomePage/components/OnboardingInfoSection.tsx
Labels: Ready for Review, recruitment and onboarding

#3069 #2942onboarding create toggle checklist endpoint
  src/backend/src/controllers/onboarding.controller.ts
  src/backend/src/routes/onboarding.routes.ts
  src/backend/src/services/onboarding.services.ts
  src/backend/tests/test-utils.ts
  src/backend/tests/unmocked/onboarding.test.ts
Labels: Ready for Review, recruitment and onboarding

#2860 2725 recruitment admin tool to update organizations images
  src/backend/src/controllers/organizations.controller.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/organizations.routes.ts
  src/backend/src/services/organizations.services.ts
  src/backend/tests/unmocked/organization.test.ts
  src/frontend/src/apis/organizations.api.ts
  src/frontend/src/hooks/onboarding.hooks.ts
  src/frontend/src/hooks/organizations.hooks.ts
  src/frontend/src/pages/AdminToolsPage/AdminToolsRecruitment.tsx
  src/frontend/src/pages/AdminToolsPage/RecruitmentConfig/AdminToolsRecruitmentConfig.tsx
  src/frontend/src/pages/HomePage/GuestHomePage.tsx
  src/frontend/src/pages/HomePage/components/ImageWithButton.tsx
  src/frontend/src/utils/pipes.ts
  src/frontend/src/utils/urls.ts
  src/shared/src/types/user-types.ts
  yarn.lock
Labels: recruitment and onboarding

#3088 #2814 make checkboxes functional
  src/backend/src/routes/onboarding.routes.ts
  src/backend/src/services/onboarding.services.ts
  src/backend/tests/unmocked/onboarding.test.ts
  src/backend/tests/unmocked/organization.test.ts
  src/frontend/src/apis/onboarding.api.ts
  src/frontend/src/hooks/onboarding.hook.ts
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/AdminChecklist.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/AdminTask.tsx
  src/frontend/src/pages/HomePage/components/Checklist.tsx
  src/frontend/src/pages/HomePage/components/ParentTask.tsx
  src/frontend/src/pages/HomePage/components/SubtaskSection.tsx
  src/frontend/src/pages/HomePage/components/Task.tsx
  src/frontend/src/utils/urls.ts
Labels: Ready for Review, recruitment and onboarding
