Repository Northeastern-Electric-Racing/FinishLine, pull requests merged in 2025-01, with the labels that each got.

#3090 #2816 confirm onboarding checklist modal
  src/backend/src/controllers/users.controllers.ts
  src/backend/src/routes/users.routes.ts
  src/backend/src/services/users.services.ts
  src/frontend/src/apis/users.api.ts
  src/frontend/src/hooks/users.hooks.ts
  src/frontend/src/pages/HomePage/OnboardingHomePage.tsx
  src/frontend/src/pages/HomePage/components/ConfirmOnboardingChecklistModal.tsx
  src/frontend/src/utils/urls.ts
Labels: front-end, straightforward

#3115 #3114 restoring application link table
  src/frontend/src/pages/AdminToolsPage/RecruitmentConfig/AdminToolsRecruitmentConfig.tsx
Labels: front-end, straightforward

#3092 #3013 create/edit checklist modal
  src/backend/src/controllers/onboarding.controller.ts
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/onboarding.routes.ts
  src/backend/src/services/onboarding.services.ts
  src/backend/tests/unmocked/onboarding.test.ts
  src/backend/tests/unmocked/organization.test.ts
  src/frontend/src/apis/onboarding.api.ts
  src/frontend/src/components/NERDeleteModal.tsx
  src/frontend/src/components/NERModal.tsx
  src/frontend/src/hooks/onboarding.hook.ts
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/AdminToolsOnboardingConfig.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/Checklists/AdminChecklist.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/Checklists/AdminSubtaskSection.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/Checklists/AdminTask.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/Checklists/CreateChecklistModal.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/Checklists/CreateSubtaskModal.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/Checklists/EditChecklistModal.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/Checklists/EditSubtaskModal.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/Checklists/SubtaskFormModal.tsx
  src/frontend/src/pages/HomePage/components/ChecklistSection.tsx
  src/frontend/src/pages/HomePage/components/SubtaskSection.tsx
  src/frontend/src/utils/urls.ts
  src/shared/src/types/checklist-types.ts
Labels: recruitment and onboarding

#3118 #3117 fix checklist modals
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/Checklists/CreateChecklistModal.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/Checklists/EditChecklistModal.tsx
Labels: front-end, straightforward

#3109 #3104 add dropdowns for all team types
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/AdminToolsOnboardingConfig.tsx
  src/frontend/src/pages/AdminToolsPage/OnboardingConfig/Checklists/AdminChecklist.tsx
  src/frontend/src/utils/onboarding.utils.ts
Labels: front-end, difficult

#3111 #3110 created select subteam homepage
  src/backend/src/controllers/teams.controllers.ts
  src/backend/src/controllers/users.controllers.ts
  src/backend/src/prisma-query-args/auth-user.query-args.ts
  src/backend/src/prisma/migrations/20250109182836_added_users_onboarding_for_team_type/migration.sql
  src/backend/src/prisma/migrations/20250109204820_checklists_and_contacts_model/migration.sql
  src/backend/src/prisma/schema.prisma
  src/backend/src/prisma/seed.ts
  src/backend/src/routes/teams.routes.ts
  src/backend/src/routes/users.routes.ts
  src/backend/src/services/onboarding.services.ts
  src/backend/src/services/teams.services.ts
  src/backend/src/services/users.services.ts
  src/backend/src/transformers/auth-user.transformer.ts
  src/backend/tests/unmocked/onboarding.test.ts
  src/frontend/src/apis/team-types.api.ts
  src/frontend/src/apis/teams.api.ts
  src/frontend/src/apis/users.api.ts
  src/frontend/src/app/AppAuthenticated.tsx
  src/frontend/src/app/AppPublic.tsx
  src/frontend/src/hooks/team-types.hooks.ts
  src/frontend/src/hooks/teams.hooks.ts
  src/frontend/src/hooks/users.hooks.ts
  src/frontend/src/layouts/Sidebar/Sidebar.tsx
  src/frontend/src/pages/AcceptedPage/AcceptedPage.tsx
  src/frontend/src/pages/HomePage/Home.tsx
  src/frontend/src/pages/HomePage/OnboardingHomePage.tsx
  src/frontend/src/pages/HomePage/PNMHomePage.tsx
  src/frontend/src/pages/HomePage/SelectSubteamPage.tsx
  src/frontend/src/pages/HomePage/components/TeamTypeSection.tsx
  src/frontend/src/tests/app/AppAuthenticated.test.tsx
  src/frontend/src/tests/test-support/test-data/authenticated-user.stub.ts
  src/frontend/src/tests/test-support/test-data/users.stub.ts
  src/frontend/src/utils/routes.ts
  src/frontend/src/utils/urls.ts
  src/shared/src/types/user-types.ts
Labels: recruitment and onboarding
